.row4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .photo {
    border-radius: 300px;
    width: 50%;
    justify-content: center;}
    
    h5 {
        font-size: 1.25rem;
        justify-content: center;
      }
   
   h2 {
    justify-content: center;
   }   
}
