.container5 {
    position: relative;
    background-color: #343a40;
    background: url("../image/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 10rem;
    color: white;
    text-align: center;
.row5 .email {
margin-left:  120px;
}

  }
